:root{
    font-size: 16px;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}






body{
    background-color: $color-bg;
    color: $color-text;
    font-family: 'Text', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;;
}

a{
    color: $color-link-hover;
   
    &:hover{
        color: $color-link;
    }
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Titre', 'Cormorant Garamond', serif;
    color: $color-text;
    line-height: 1.1;
}

@media screen and (max-width: 1160px) {
    :root {
        font-size: 14px;
    }
}