ul.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    @include flex($direction: row, $item: center, $gap: 1rem);
}

.wrapper {
    width: 1170px;
    box-sizing: border-box;
    margin: 0 auto;
}

.titre-page {
    margin: 5.875rem auto;
    text-align: center;
}

.titre-section {
    margin: 0 auto .8rem auto;
}

.titre-sous-section {
    margin: .4rem auto .4rem auto;
}

p {
    margin: 0 auto;
    margin-bottom: .6rem;
}

.section {
    padding: 2rem 0;
    margin: 2.5rem auto;

    &:nth-child(odd) {
        background-color: $color-bg-darker;
    }

    &.chapo {
        padding: 0;
        margin-top: 0;
    }

}

.row {
    @include flex($direction: row, $justify: flex-start ,$item: flex-start, $gap: 1.4rem);
    margin-bottom: 2rem;

    &:last-child {
        margin-bottom: 0;
    }

    .col-33 {
        width: 33.3333%;

        img {
            width: 100%;
            object-fit: cover;
        }


    }

    .col-66 {
        width: 66.6667%;

    }

   
   
}

.illustration{
    margin-top: 2rem;
    width: 100%;
    img{
        width: 100%;
    }
}



@media screen and (max-width: 1200px) {
    .wrapper {
        width: 100%;
        padding: 0 1rem;
    }

}

@media screen and (max-width: 800px) {
    .row {
        @include flex($direction: column, $item: flex-start, $gap: 1.4rem);
        margin-bottom: 2rem;
    
        &:last-child {
            margin-bottom: 0;
        }
    
        .col-33 {
            width: 100%;
            margin: auto;
    
            img {
                width: 100%;
                object-fit: cover;
            }
    
    
        }
    
        .col-66 {
            width: 100%;
    
        }
    
    }

    
}