@font-face {
    font-family: 'Text';
    font-display: auto;
    src: url(/css/fonts/SourceSansPro-Regular.otf);
    unicode-range: U+0000-00FF, U+0152-0153, U+2000-206F, U+20AC; 
    /*latin étendu, e dans o*, ponctuation, symbole € */
}

@font-face {
    font-family: 'Titre';
    font-display: auto;
    src: url(/css/fonts/CormorantGaramond-Medium.ttf);
    unicode-range: U+0000-00FF, U+0152-0153;
    /*latin étendu */
}

@font-face {
    font-family: 'Signature';
    font-display: auto;
    src: url(/css/fonts/GreatVibes-Regular.ttf);
    unicode-range: U+0041-005A, U+0061-007A;
    /*latin, majuscules et minuscules */
}