/*===========color================*/
$color-bg: #F4EFE6;
$color-bg-darker: #ECE3D4;
$color-bg-alt: #B5925B;
$color-text: #5C342C;
$color-link: #696D4B;
$color-link-hover: darken($color-link, 10%);
$color-error: #B0280D;
$color-success: #768206;